:root {
  --color-color-action-disabled: #cdd1d5;
  --color-color-action-primary: rgba(255, 255, 255, 0);
  --color-color-action-primary-active: #246aeb;
  --color-color-action-primary-hover: #ecf2fe;
  --color-color-action-primary-pressed: #d8e5fd;
  --color-color-action-primary-selected: #ecf2fe;
  --color-color-action-secondary: rgba(255, 255, 255, 0);
  --color-color-action-secondary-active: #063a74;
  --color-color-action-secondary-hover: #eef2f7;
  --color-color-action-secondary-on: rgba(255, 255, 255, 0);
  --color-color-action-secondary-on-hover: #ffffff;
  --color-color-action-secondary-on-pressed: #d6e0eb;
  --color-color-action-secondary-on-selected: #ffffff;
  --color-color-action-secondary-pressed: #d6e0eb;
  --color-color-action-secondary-selected: #eef2f7;
  --color-color-action-white: #ffffff; /* disabled */
  --color-color-alpha-base0: rgba(255, 255, 255, 0);
  --color-color-alpha-base10: rgba(255, 255, 255, 0.1);
  --color-color-alpha-base100: #ffffff;
  --color-color-alpha-base25: rgba(255, 255, 255, 0.25);
  --color-color-alpha-base50: rgba(255, 255, 255, 0.5);
  --color-color-alpha-base75: rgba(255, 255, 255, 0.75);
  --color-color-alpha-inverse0: rgba(0, 0, 0, 0);
  --color-color-alpha-inverse10: rgba(0, 0, 0, 0.1);
  --color-color-alpha-inverse100: #000000;
  --color-color-alpha-inverse25: rgba(0, 0, 0, 0.25);
  --color-color-alpha-inverse50: rgba(0, 0, 0, 0.5);
  --color-color-alpha-inverse75: rgba(0, 0, 0, 0.75);
  --color-color-alpha-shadow1: rgba(0, 0, 0, 0.05);
  --color-color-alpha-shadow2: rgba(0, 0, 0, 0.08);
  --color-color-alpha-shadow3: rgba(0, 0, 0, 0.12);
  --color-color-background-dim: rgba(0, 0, 0, 0.75);
  --color-color-background-gray-subtle: #e6e8ea;
  --color-color-background-gray-subtler: #f4f5f6;
  --color-color-background-inverse: #1e2124;
  --color-color-background-white: #ffffff;
  --color-color-border-danger: #de3412;
  --color-color-border-danger-light: #fcdfd9;
  --color-color-border-disabled: #b1b8be; /* disabled */
  --color-color-border-gray: #b1b8be; /* disabled */
  --color-color-border-gray-dark: #58616a; /* active */
  --color-color-border-gray-darker: #1e2124; /* active */
  --color-color-border-gray-light: #cdd1d5;
  --color-color-border-information: #0b78cb;
  --color-color-border-information-light: #d3ebfd;
  --color-color-border-inverse: #ffffff; /* disabled */
  --color-color-border-point: #d63d4a; /* active/selected */
  --color-color-border-point-light: #f5d6d9; /* active/selected */
  --color-color-border-primary: #246aeb; /* active/selected */
  --color-color-border-primary-light: #d8e5fd; /* active/selected */
  --color-color-border-secondary: #063a74; /* active/selected */
  --color-color-border-secondary-light: #d6e0eb;
  --color-color-border-success: #228738;
  --color-color-border-success-light: #d8eedd;
  --color-color-border-transparency: rgba(0, 0, 0, 0); /* disabled */
  --color-color-border-warning: #9e6a00;
  --color-color-border-warning-light: #ffe0a3;
  --color-color-button-disabled-border: #b1b8be;
  --color-color-button-disabled-fill: #cdd1d5;
  --color-color-button-primary-fill: #246aeb;
  --color-color-button-primary-fill-hover: #0b50d0;
  --color-color-button-primary-fill-pressed: #083891;
  --color-color-button-secondary-border: #246aeb;
  --color-color-button-secondary-fill: #ecf2fe;
  --color-color-button-secondary-fill-hover: #d8e5fd;
  --color-color-button-secondary-fill-pressed: #b1cefb;
  --color-color-button-tertiary-border: #58616a;
  --color-color-button-tertiary-fill: rgba(255, 255, 255, 0);
  --color-color-button-tertiary-fill-hover: #f4f5f6;
  --color-color-button-tertiary-fill-pressed: #e6e8ea;
  --color-color-button-text-border: rgba(0, 0, 0, 0);
  --color-color-button-text-fill: rgba(255, 255, 255, 0);
  --color-color-button-text-fill-hover: #eef2f7;
  --color-color-button-text-fill-pressed: #d6e0eb;
  --color-color-divider-error: #de3412;
  --color-color-divider-gray: #8a949e; /* disabled */
  --color-color-divider-gray-dark: #6d7882; /* active */
  --color-color-divider-gray-darker: #1e2124; /* active */
  --color-color-divider-gray-light: #cdd1d5;
  --color-color-divider-inverse: #ffffff;
  --color-color-divider-point: #d63d4a;
  --color-color-divider-primary: #246aeb; /* active/selected */
  --color-color-divider-primary-light: #d8e5fd; /* active/selected */
  --color-color-divider-secondary: #063a74; /* active/selected */
  --color-color-divider-secondary-light: #d6e0eb;
  --color-color-element-danger: #de3412;
  --color-color-element-danger-lighter: #fdefec;
  --color-color-element-disabled-dark: #8a949e; /* disabled */
  --color-color-element-disabled-light: #cdd1d5; /* 앞에 gray를 붙 */
  --color-color-element-gray: #6d7882;
  --color-color-element-gray-dark: #58616a;
  --color-color-element-gray-light: #e6e8ea;
  --color-color-element-gray-lighter: #f4f5f6;
  --color-color-element-information: #0b78cb;
  --color-color-element-information-lighter: #e7f4fe;
  --color-color-element-inverse: #ffffff;
  --color-color-element-inverse-static: #ffffff;
  --color-color-element-logo-text: #575756;
  --color-color-element-point: #d63d4a;
  --color-color-element-point-light: #f5d6d9;
  --color-color-element-point-lighter: #fbeff0;
  --color-color-element-primary: #246aeb; /* active/selected */
  --color-color-element-primary-light: #d8e5fd;
  --color-color-element-primary-lighter: #ecf2fe;
  --color-color-element-secondary: #063a74;
  --color-color-element-secondary-light: #d6e0eb;
  --color-color-element-secondary-lighter: #eef2f7;
  --color-color-element-success: #228738;
  --color-color-element-success-lighter: #eaf6ec;
  --color-color-element-warning: #ffb114;
  --color-color-element-warning-lighter: #fff3db;
  --color-color-graphic-blue: #61758f; /* disabled */
  --color-color-graphic-blue-dark: #39506c; /* disabled */
  --color-color-graphic-blue-darker: #223a58; /* disabled */
  --color-color-graphic-blue-subtle: #98acc5; /* disabled */
  --color-color-graphic-blue-subtler: #e5ecf9; /* disabled */
  --color-color-graphic-brand: #246aeb; /* disabled */
  --color-color-graphic-red: #ebadb2; /* disabled */
  --color-color-graphic-red-dark: #d65c66; /* disabled */
  --color-color-graphic-red-darker: #7a1f26; /* disabled */
  --color-color-graphic-red-subtle: #f5d6d9; /* disabled */
  --color-color-graphic-red-subtler: #fbeff0; /* disabled */
  --color-color-icon-danger: #de3412;
  --color-color-icon-danger-static: #de3412;
  --color-color-icon-disabled: #8a949e;
  --color-color-icon-disabled-on: #6d7882;
  --color-color-icon-gray: #33363d;
  --color-color-icon-gray-fill: #cdd1d5;
  --color-color-icon-gray-light: #464c53;
  --color-color-icon-gray-static: #33363d;
  --color-color-icon-information: #0b78cb;
  --color-color-icon-information-static: #0b78cb;
  --color-color-icon-inverse: #ffffff;
  --color-color-icon-inverse-static: #ffffff;
  --color-color-icon-point: #d63d4a;
  --color-color-icon-point-static: #d63d4a;
  --color-color-icon-primary: #246aeb; /* active/selected */
  --color-color-icon-primary-static: #246aeb; /* active/selected */
  --color-color-icon-secondary: #052b57; /* active/selected */
  --color-color-icon-secondary-static: #052b57; /* active/selected */
  --color-color-icon-success: #228738;
  --color-color-icon-success-static: #228738;
  --color-color-icon-warning: #9e6a00;
  --color-color-icon-warning-static: #9e6a00;
  --color-color-input-border: #58616a;
  --color-color-input-border-active: #246aeb; /* active/selected */
  --color-color-input-border-disabled: #b1b8be;
  --color-color-input-border-error: #de3412;
  --color-color-input-surface: #ffffff;
  --color-color-input-surface-disabled: #cdd1d5;
  --color-color-link-default: #246aeb;
  --color-color-link-hover: #0b50d0;
  --color-color-link-pressed: #083891;
  --color-color-link-visited: #5917b8;
  --color-color-surface-danger-subtler: #fdefec;
  --color-color-surface-disabled: #cdd1d5; /* disabled */
  --color-color-surface-gray-subtle: #e6e8ea;
  --color-color-surface-gray-subtler: #f4f5f6;
  --color-color-surface-information-subtler: #e7f4fe;
  --color-color-surface-inverse: #1e2124; /* disabled */
  --color-color-surface-inverse-static: #1e2124; /* disabled */
  --color-color-surface-point-subtler: #fbeff0;
  --color-color-surface-primary-subtler: #ecf2fe;
  --color-color-surface-secondary-subtler: #eef2f7;
  --color-color-surface-success-subtler: #eaf6ec;
  --color-color-surface-warning-subtler: #fff3db;
  --color-color-surface-white: #ffffff; /* disabled */
  --color-color-surface-white-static: #ffffff; /* disabled */
  --color-color-surface-white-subtle: #ffffff; /* disabled */
  --color-color-surface-white-subtler: #ffffff; /* disabled */
  --color-color-text-basic: #1e2124;
  --color-color-text-basic-inverse: #ffffff;
  --color-color-text-bolder: #131416;
  --color-color-text-bolder-inverse: #ffffff;
  --color-color-text-danger: #bd2c0f;
  --color-color-text-disabled: #8a949e; /* disabled */
  --color-color-text-disabled-on: #6d7882; /* active */
  --color-color-text-information: #096ab3;
  --color-color-text-inverse-static: #ffffff;
  --color-color-text-point: #ab2b36;
  --color-color-text-primary: #0b50d0; /* active/selected */
  --color-color-text-secondary: #052b57; /* active/selected */
  --color-color-text-static: #1e2124;
  --color-color-text-subtle: #464c53;
  --color-color-text-subtle-inverse: #b1b8be;
  --color-color-text-success: #267337;
  --color-color-text-warning: #8a5c00;
}
