:root {
  --color-color-high-contrast-alpha-black0: rgba(0, 0, 0, 0);
  --color-color-high-contrast-alpha-black10: rgba(0, 0, 0, 0.1);
  --color-color-high-contrast-alpha-black100: #000000;
  --color-color-high-contrast-alpha-black25: rgba(0, 0, 0, 0.25);
  --color-color-high-contrast-alpha-black50: rgba(0, 0, 0, 0.5);
  --color-color-high-contrast-alpha-black75: rgba(0, 0, 0, 0.75);
  --color-color-high-contrast-alpha-white0: rgba(255, 255, 255, 0);
  --color-color-high-contrast-alpha-white10: rgba(255, 255, 255, 0.1);
  --color-color-high-contrast-alpha-white100: #ffffff;
  --color-color-high-contrast-alpha-white25: rgba(255, 255, 255, 0.25);
  --color-color-high-contrast-alpha-white50: rgba(255, 255, 255, 0.5);
  --color-color-high-contrast-alpha-white75: rgba(255, 255, 255, 0.75);
  --color-color-high-contrast-danger-5: #fdefec; /* surface */
  --color-color-high-contrast-danger-10: #fcdfd9; /* border */
  --color-color-high-contrast-danger-20: #f7afa1;
  --color-color-high-contrast-danger-30: #f48771;
  --color-color-high-contrast-danger-40: #f05f42;
  --color-color-high-contrast-danger-50: #de3412; /* base */
  --color-color-high-contrast-danger-60: #bd2c0f; /* text */
  --color-color-high-contrast-danger-70: #8a240f;
  --color-color-high-contrast-danger-80: #5c180a;
  --color-color-high-contrast-danger-90: #390d05;
  --color-color-high-contrast-danger-95: #260903;
  --color-color-high-contrast-graphic-10: #e5ecf9;
  --color-color-high-contrast-graphic-30: #98acc5;
  --color-color-high-contrast-graphic-50: #61758f;
  --color-color-high-contrast-graphic-70: #39506c;
  --color-color-high-contrast-graphic-90: #223a58;
  --color-color-high-contrast-gray-0: #ffffff;
  --color-color-high-contrast-gray-5: #f4f5f6;
  --color-color-high-contrast-gray-10: #e6e8ea;
  --color-color-high-contrast-gray-20: #cdd1d5;
  --color-color-high-contrast-gray-30: #b1b8be;
  --color-color-high-contrast-gray-40: #8a949e;
  --color-color-high-contrast-gray-50: #6d7882;
  --color-color-high-contrast-gray-60: #58616a;
  --color-color-high-contrast-gray-70: #464c53;
  --color-color-high-contrast-gray-80: #33363d;
  --color-color-high-contrast-gray-90: #1e2124;
  --color-color-high-contrast-gray-95: #131416;
  --color-color-high-contrast-gray-100: #000000;
  --color-color-high-contrast-information-5: #e7f4fe; /* surface */
  --color-color-high-contrast-information-10: #d3ebfd; /* border */
  --color-color-high-contrast-information-20: #9ed2fa;
  --color-color-high-contrast-information-30: #5fb5f7;
  --color-color-high-contrast-information-40: #2098f3;
  --color-color-high-contrast-information-50: #0b78cb; /* base */
  --color-color-high-contrast-information-60: #096ab3; /* text */
  --color-color-high-contrast-information-70: #085691;
  --color-color-high-contrast-information-80: #053961;
  --color-color-high-contrast-information-90: #03253f;
  --color-color-high-contrast-information-95: #021a2c;
  --color-color-high-contrast-point-5: #fbeff0;
  --color-color-high-contrast-point-10: #f5d6d9;
  --color-color-high-contrast-point-20: #ebadb2;
  --color-color-high-contrast-point-30: #e0858c;
  --color-color-high-contrast-point-40: #d65c66;
  --color-color-high-contrast-point-50: #d63d4a;
  --color-color-high-contrast-point-60: #ab2b36;
  --color-color-high-contrast-point-70: #7a1f26;
  --color-color-high-contrast-point-80: #521419;
  --color-color-high-contrast-point-90: #310c0f;
  --color-color-high-contrast-point-95: #21080a;
  --color-color-high-contrast-primary-5: #ecf2fe;
  --color-color-high-contrast-primary-10: #d8e5fd;
  --color-color-high-contrast-primary-20: #b1cefb;
  --color-color-high-contrast-primary-30: #86aff9;
  --color-color-high-contrast-primary-40: #4c87f6;
  --color-color-high-contrast-primary-50: #256ef4;
  --color-color-high-contrast-primary-60: #0b50d0;
  --color-color-high-contrast-primary-70: #083891;
  --color-color-high-contrast-primary-80: #052561;
  --color-color-high-contrast-primary-90: #03163a;
  --color-color-high-contrast-primary-95: #020f27;
  --color-color-high-contrast-secondary-5: #edf6f8;
  --color-color-high-contrast-secondary-10: #d5ebf1;
  --color-color-high-contrast-secondary-20: #abd8e3;
  --color-color-high-contrast-secondary-30: #75c0d1;
  --color-color-high-contrast-secondary-40: #3d9fb8;
  --color-color-high-contrast-secondary-50: #268097;
  --color-color-high-contrast-secondary-60: #1f687a;
  --color-color-high-contrast-secondary-70: #17505e;
  --color-color-high-contrast-secondary-80: #113b45;
  --color-color-high-contrast-secondary-90: #0e3139;
  --color-color-high-contrast-secondary-95: #091f25;
  --color-color-high-contrast-success-5: #eaf6ec; /* surface */
  --color-color-high-contrast-success-10: #d8eedd; /* border */
  --color-color-high-contrast-success-20: #a9dab4;
  --color-color-high-contrast-success-30: #7ec88e;
  --color-color-high-contrast-success-40: #3fa654;
  --color-color-high-contrast-success-50: #228738; /* base */
  --color-color-high-contrast-success-60: #267337; /* text */
  --color-color-high-contrast-success-70: #285d33;
  --color-color-high-contrast-success-80: #1f4727;
  --color-color-high-contrast-success-90: #122b18;
  --color-color-high-contrast-success-95: #0e2012;
  --color-color-high-contrast-warning-5: #fff3db; /* surface */
  --color-color-high-contrast-warning-10: #ffe0a3; /* border */
  --color-color-high-contrast-warning-20: #ffc95c;
  --color-color-high-contrast-warning-30: #ffb114;
  --color-color-high-contrast-warning-40: #c78500;
  --color-color-high-contrast-warning-50: #9e6a00; /* base */
  --color-color-high-contrast-warning-60: #8a5c00; /* text */
  --color-color-high-contrast-warning-70: #614100;
  --color-color-high-contrast-warning-80: #422c00;
  --color-color-high-contrast-warning-90: #2e1f00;
  --color-color-high-contrast-warning-95: #241800;
  --color-color-light-alpha-black0: rgba(0, 0, 0, 0);
  --color-color-light-alpha-black10: rgba(0, 0, 0, 0.1);
  --color-color-light-alpha-black100: #000000;
  --color-color-light-alpha-black25: rgba(0, 0, 0, 0.25);
  --color-color-light-alpha-black50: rgba(0, 0, 0, 0.5);
  --color-color-light-alpha-black75: rgba(0, 0, 0, 0.75);
  --color-color-light-alpha-white0: rgba(255, 255, 255, 0);
  --color-color-light-alpha-white10: rgba(255, 255, 255, 0.1);
  --color-color-light-alpha-white100: #ffffff;
  --color-color-light-alpha-white25: rgba(255, 255, 255, 0.25);
  --color-color-light-alpha-white50: rgba(255, 255, 255, 0.5);
  --color-color-light-alpha-white75: rgba(255, 255, 255, 0.75);
  --color-color-light-danger-5: #fdefec; /* surface */
  --color-color-light-danger-10: #fcdfd9; /* border */
  --color-color-light-danger-20: #f7afa1;
  --color-color-light-danger-30: #f48771;
  --color-color-light-danger-40: #f05f42;
  --color-color-light-danger-50: #de3412; /* base */
  --color-color-light-danger-60: #bd2c0f; /* text */
  --color-color-light-danger-70: #8a240f;
  --color-color-light-danger-80: #5c180a;
  --color-color-light-danger-90: #390d05;
  --color-color-light-danger-95: #260903;
  --color-color-light-graphic-10: #e5ecf9;
  --color-color-light-graphic-30: #98acc5;
  --color-color-light-graphic-50: #61758f;
  --color-color-light-graphic-70: #39506c;
  --color-color-light-graphic-90: #223a58;
  --color-color-light-gray-0: #ffffff;
  --color-color-light-gray-5: #f4f5f6;
  --color-color-light-gray-10: #e6e8ea;
  --color-color-light-gray-20: #cdd1d5;
  --color-color-light-gray-30: #b1b8be;
  --color-color-light-gray-40: #8a949e;
  --color-color-light-gray-50: #6d7882;
  --color-color-light-gray-60: #58616a;
  --color-color-light-gray-70: #464c53;
  --color-color-light-gray-80: #33363d;
  --color-color-light-gray-90: #1e2124;
  --color-color-light-gray-95: #131416;
  --color-color-light-gray-100: #000000;
  --color-color-light-information-5: #e7f4fe; /* surface */
  --color-color-light-information-10: #d3ebfd; /* border */
  --color-color-light-information-20: #9ed2fa;
  --color-color-light-information-30: #5fb5f7;
  --color-color-light-information-40: #2098f3;
  --color-color-light-information-50: #0b78cb; /* base */
  --color-color-light-information-60: #096ab3; /* text */
  --color-color-light-information-70: #085691;
  --color-color-light-information-80: #053961;
  --color-color-light-information-90: #03253f;
  --color-color-light-information-95: #021a2c;
  --color-color-light-point-5: #fbeff0;
  --color-color-light-point-10: #f5d6d9;
  --color-color-light-point-20: #ebadb2;
  --color-color-light-point-30: #e0858c;
  --color-color-light-point-40: #d65c66;
  --color-color-light-point-50: #d63d4a;
  --color-color-light-point-60: #ab2b36;
  --color-color-light-point-70: #7a1f26;
  --color-color-light-point-80: #521419;
  --color-color-light-point-90: #310c0f;
  --color-color-light-point-95: #21080a;
  --color-color-light-primary-5: #ecf2fe;
  --color-color-light-primary-10: #d8e5fd;
  --color-color-light-primary-20: #b1cefb;
  --color-color-light-primary-30: #86aff9;
  --color-color-light-primary-40: #4c87f6;
  --color-color-light-primary-50: #246aeb;
  --color-color-light-primary-60: #0b50d0;
  --color-color-light-primary-70: #083891;
  --color-color-light-primary-80: #052561;
  --color-color-light-primary-90: #03163a;
  --color-color-light-primary-95: #020f27;
  --color-color-light-secondary-5: #eef2f7;
  --color-color-light-secondary-10: #d6e0eb;
  --color-color-light-secondary-20: #bacbde;
  --color-color-light-secondary-30: #90b0d5;
  --color-color-light-secondary-40: #6b96c7;
  --color-color-light-secondary-50: #346fb2;
  --color-color-light-secondary-60: #1c589c;
  --color-color-light-secondary-70: #063a74;
  --color-color-light-secondary-80: #052b57;
  --color-color-light-secondary-90: #031f3f;
  --color-color-light-secondary-95: #02162c;
  --color-color-light-success-5: #eaf6ec; /* surface */
  --color-color-light-success-10: #d8eedd; /* border */
  --color-color-light-success-20: #a9dab4;
  --color-color-light-success-30: #7ec88e;
  --color-color-light-success-40: #3fa654;
  --color-color-light-success-50: #228738; /* base */
  --color-color-light-success-60: #267337; /* text */
  --color-color-light-success-70: #285d33;
  --color-color-light-success-80: #1f4727;
  --color-color-light-success-90: #122b18;
  --color-color-light-success-95: #0e2012;
  --color-color-light-warning-5: #fff3db; /* surface */
  --color-color-light-warning-10: #ffe0a3; /* border */
  --color-color-light-warning-20: #ffc95c;
  --color-color-light-warning-30: #ffb114;
  --color-color-light-warning-40: #c78500;
  --color-color-light-warning-50: #9e6a00; /* base */
  --color-color-light-warning-60: #8a5c00; /* text */
  --color-color-light-warning-70: #614100;
  --color-color-light-warning-80: #422c00;
  --color-color-light-warning-90: #2e1f00;
  --color-color-light-warning-95: #241800;
  --content-typo-font-type: Pretendard GOV;
  --content-typo-font-weight-bold: Bold;
  --content-typo-font-weight-regular: Regular;
}
